$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$main-color: rgba(255, 86, 86, 1);
$main-light: rgba(255, 200, 200, 1);
$h1-color: rgba(10, 82, 157, 1);
$h1-small-color: rgba(15, 158, 221, 1);
$h3-color: rgba(15, 158, 221, 1);
$p-color: rgba(92, 92, 92, 1);
$p-color-alt: rgba(144, 144, 144, 1);

html {
	background: $main-color;
}

body {
	text-align: center;
	background: rgba(255, 255, 255, 1);
}

.table {
	thead {
		tr {
			background: $main-color;
			color: white;
			th {
				text-align: center;
			}
		}
	}
	tbody {
		/*tr:nth-of-type(2n+1) {
			background: $main-light;
		}*/
		tr {
			td {
				border-top-color: $main-light;
			}
		}
	}
}



.main-logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo-sm {
	text-align: left;
	width: auto;
	height: 100px;
	padding: 10px;
}

.img-responsive {
	display: inline-block;
}

.nopadding {
	padding: 0;
}

header {
	background: $main-color;
	text-align: left;
}

footer {
	background: $main-color;
	min-height: 50px;
}